<launch>
    <!-- 
          NOTICE: Installation of rtabmap is required for using this launch file:
                  For installation type:
                        apt-get install ros-kinetic-rtabmap-ros
    -->
    
    <arg name="device_type_camera1"    		default="t265"/>
    <arg name="device_type_camera2"    		default="d435i"/>	<!-- Note: using regular expression. match D435, D435i, D415... -->
    <arg name="serial_no_camera1"    			default=""/>
    <arg name="serial_no_camera2"    			default=""/>
    <arg name="camera1"              			default="t265"/>		<!-- Note: Replace with camera name -->
    <arg name="camera2"              			default="d400"/>		<!-- Note: Replace with camera name -->
    <arg name="clip_distance"             default="-2"/>
    <arg name="use_rviz"                  default="true"/>
    <arg name="use_rtabmapviz"            default="false"/> 

    <arg name="localization" default="false"/>
    <arg name="database_path" default="~/.ros/rtabmap.db"/>
    <arg     if="$(arg localization)" name="rtabmap_args" default=""/>
    <arg unless="$(arg localization)" name="rtabmap_args" default="-d"/>
    

    <include file="$(find robotic_autonomy)/launch/RA_t265_d435.launch">
            <arg name="device_type_camera1"             value="$(arg device_type_camera1)"/>
            <arg name="device_type_camera2"             value="$(arg device_type_camera2)"/>
            <arg name="serial_no_camera1"               value="$(arg serial_no_camera1)"/>
            <arg name="serial_no_camera2"               value="$(arg serial_no_camera2)"/>
            <arg name="camera1"                         value="$(arg camera1)"/>
            <arg name="camera2"                         value="$(arg camera2)"/>
            <arg name="clip_distance"                   value="$(arg clip_distance)"/>
            
    </include>

    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="realsense_imu_filter" output="screen">
            <remap from="/imu/data_raw" to="/$(arg camera1)/imu"/>
            <remap from="/imu/data" to="/rtabmap/imu"/>
            <param name="use_mag" value="false"/>
            <param name="publish_tf" value="false"/>
            <param name="world_frame" value="enu"/>
    </node>

    <remap from="/rtabmap/grid_map" to="/map"/>
    <!-- <include file="$(find robotic_autonomy)/launch/RA_newrtabmap.launch"> -->
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
            <arg name="rtabmap_args"       value="$(arg rtabmap_args) --Optimizer/GravitySigma 0.3"/>
            <arg name="depth_topic"        value="/$(arg camera2)/aligned_depth_to_color/image_raw"/>
            <arg name="frame_id"           value="$(arg camera2)_link"/>
            <arg name="visual_odometry"    value="false"/>
            <arg name="odom_topic"         value="/$(arg camera1)/odom/sample"/>
            <arg name="rgb_topic"          value="/$(arg camera2)/color/image_raw"/>
            <arg name="camera_info_topic"  value="/$(arg camera2)/color/camera_info"/>
            <arg name="queue_size"         value="200"/>
            <arg name="rviz"               value="$(arg use_rviz)"/>
            <arg name="rtabmapviz"         value="$(arg use_rtabmapviz)"/>
            <arg name="imu_topic" value="/rtabmap/imu"/>
            <arg name="wait_imu_to_init" value="true"/>
            <arg name="approx_sync" value="true"/>
    </include>
    
    <node pkg="tf" type="static_transform_publisher" name="d400_to_base_link" args="-.193 0 0 0 0 0 /d400_link /base_link 100"/>
</launch>
